<!-- DOCS: https://docs.djangoproject.com/en/4.1/topics/pagination/ -->

{% if page_obj.has_other_pages %}
<nav aria-label="News pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}

        {% if page_obj.number == p %}
        <li class="page-item">
            <a class="page-link active" href="?page={{ p }}" aria-current="page">{{ p }}</a>
        </li>
        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}

        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}